/* One Blog */
.oneBlog {
    width: 100vw;
    height: 900px;
    flex-shrink: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #0F0F0F;
}

.rowOneBlog {
    display: flex;
    justify-content: space-between;
}

.colOneBlog {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;

    z-index: 1;
}

.titleOneBlog {
    width: 625px;
    height: auto;
    flex-shrink: 0;

    color: #FFF;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 89.286% */
    letter-spacing: -1.12px;
    text-transform: uppercase;
}

.titleOneBlogText {
    display: block;
    width: 100px;
    height: 40px;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 104.167% */
    letter-spacing: -0.96px;
    text-transform: uppercase;

    background: linear-gradient(92deg, #FF4040 15.93%, #A20BD8 67.99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.titleOneBlogImg, .titleOneBlogImg2 {
    margin-top: 15px;
}

.titleOneBlogImg2 {
    display: none;
}

.textOneBlogBtnImg {
    animation: btnAbout 3s ease-in-out infinite;
}

/* Animation */
@keyframes btnAbout {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1)
    }
    100% {
        transform: scale(1)
    }
}

.colOneBlogImg {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 450px;
    height: 400px;
    flex-shrink: 0;

    position: relative;
}

.wrapperOneBlogImages {
    width: 450px;
    height: 400px;
    flex-shrink: 0;

    position: relative;

    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 40px;
    background: linear-gradient(101deg, #FF4040 -15.72%, #A20BD8 70.52%);
    box-shadow: 0px 0px 40px 30px rgba(249, 0, 254, 0.30);
}

.colOneBlogEllise {
    position: absolute;

    width: 202px;
    height: 203px;
    flex-shrink: 0;
    
    bottom: -90px;
    right: -50px;
    z-index: 1;

    fill: var(--Gradient, linear-gradient(92deg, #FF4040 15.93%, #A20BD8 67.99%));
    filter: drop-shadow(0px 0px 20px #FF00E5);

    animation: ellipse1 13s ease-in-out infinite;
}

.colTwoBlogEllise {
    position: absolute;

    width: 70px;
    height: 70px;
    flex-shrink: 0;
    
    bottom: -90px;
    left: -50px;
    z-index: 1;

    fill: var(--Gradient, linear-gradient(92deg, #FF4040 15.93%, #A20BD8 67.99%));
    filter: drop-shadow(0px 0px 20px #FF00E5);

    animation: ellipse2 20s ease-in-out infinite;
}

.colThreeBlogEllise {
    position: absolute;

    width: 30px;
    height: 30px;
    flex-shrink: 0;
    
    bottom: 90px;
    left: -100px;
    z-index: 1;

    fill: var(--Gradient, linear-gradient(92deg, #FF4040 15.93%, #A20BD8 67.99%));
    filter: drop-shadow(0px 0px 20px #FF00E5);

    animation: ellipse3 17s ease-in-out infinite;
}

.colFourBlogEllise {
    position: absolute;

    width: 100px;
    height: 100px;
    flex-shrink: 0;
    
    top: -10px;
    left: -110px;
    z-index: 1;

    fill: var(--Gradient, linear-gradient(92deg, #FF4040 15.93%, #A20BD8 67.99%));
    filter: drop-shadow(0px 0px 20px #FF00E5);

    animation: ellipse4 13s ease-in-out infinite;
}

.colFiveBlogEllise {
    position: absolute;

    width: 200px;
    height: 200px;
    flex-shrink: 0;
    
    top: -50px;
    left: 130px;
    z-index: 1;

    fill: var(--Gradient, linear-gradient(92deg, #FF4040 15.93%, #A20BD8 67.99%));
    filter: drop-shadow(0px 0px 20px #FF00E5);

    animation: ellipse5 10s ease-in-out infinite;
}

.colSixBlogEllise {
    position: absolute;

    width: 30px;
    height: 30px;
    flex-shrink: 0;
    
    top: -70px;
    right: -70px;
    z-index: 1;

    fill: var(--Gradient, linear-gradient(92deg, #FF4040 15.93%, #A20BD8 67.99%));
    filter: drop-shadow(0px 0px 20px #FF00E5);

    animation: ellipse6 23s ease-in-out infinite;

}

/* Animation 2 */
@keyframes ellipse1 {
    0% {
        bottom: -90px;
        right: -50px;
    }
    25% {
        bottom: 150px;
        right: 450px;
    }
    50% {
        bottom: 300px;
        right: 150px;
    }
    75% {
        bottom: 150px;
        right: -150px;
    }
    100% {
        bottom: -90px;
        right: -50px;
    }
}

@keyframes ellipse2 {
    0% {
        bottom: -90px;
        left: -50px;
    }
    25% {
        bottom: 100px;
        left: 450px;
    }
    50% {
        bottom: 150px;
        left: -150px;
    }
    75% {
        bottom: 450px;
        left: 150px;
    }
    100% {
        bottom: -90px;
        left: -50px;
    }
}

@keyframes ellipse3 {
    0% {
        bottom: 90px;
        left: -100px;
    }
    25% {
        bottom: 30px;
        left: 450px;  
    }
    50% {
        bottom: 350px;
        left: 500px;  
    }
    75% {
        bottom: 300px;
        left: -50px;  
    }
    100% {
        bottom: 90px;
        left: -100px;
    }
}

@keyframes ellipse4 {
    0% {
        top: -10px;
        left: -110px;
    }
    25% {
        top: 450px;
        left: 210px;
    }
    50% {
        bottom: 350px;
        left: 500px;  
    }
    75% {
        bottom: 300px;
        left: -50px;  
    }
    100% {
        top: -10px;
        left: -110px;
    }
}


@keyframes ellipse5 {
    0% {
        top: -50px;
        left: 130px;
    }
    25% {
        top: 325px;
        left: 425px;
    }
    60% {
        bottom: 150px;
        left: -150px;
    }
    100% {
        top: -50px;
        left: 130px;
    }
}

@keyframes ellipse6 {
    0% {
        top: -70px;
        right: -70px;
    }
    25% {
        top: 200px;
        right: 500px;
    }
    50% {
        top: 450px;
        right: 250px;
    }
    75% {
        top: 100px;
        right: 520px;
    }
    100% {
        top: -70px;
        right: -70px;
    }
}

/* Two Blog */
.twoBlog {
    width: 100vw;
    height: 1200px;
    flex-shrink: 0;
    
    padding: 40px 0;

    background: #202020;
}

.ellipseStat1 {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    margin: 0 auto;
}

.ellipseStatText {
    width: 375px;

    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 28.8px */
    letter-spacing: -0.48px;
}

.ellipseStatText > b {
    color: #B0B0B0;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.48px;
}

.colEllipseStat2 {
    margin-top: -140px;

    display: flex;
    justify-content: space-between;
}

.ellipseStat2 {
    display: flex;
    flex-direction: column;
    align-items: end;

    text-align: center;
}

.ellipseStat3Text {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.96px;

    text-align: center;

    margin-top: -130px;
}

.ellipseStat3Text.mobule {
    display: none;
}



.colEllipseStat4 {
    margin-top: 50px;

    display: flex;
    justify-content: space-between;
}

.ellipseStat4 {
    display: flex;
    flex-direction: column;
    align-items: end;

    text-align: center;
    margin: 0 auto;
}

/* Three Blog */
.threeBlog {
    width: 100vw;
    height: 930px;
    flex-shrink: 0;

    position: relative;

    background: #0F0F0F;
}

.ellipseWhite1 {
    position: absolute;

    top: -200px;
    right: -200px;
    width: 400px;
    height: 400px;

    fill: rgba(255, 255, 255, 0.26);
    filter: drop-shadow(0px 0px 250px rgba(255, 255, 255, 0.25));
}

.ellipseWhite2 {
    position: absolute;

    bottom: -130px;
    left: -115px;
    width: 250px;
    height: 250px;

    fill: rgba(255, 255, 255, 0.26);
    filter: drop-shadow(0px 0px 250px rgba(255, 255, 255, 0.25));
}

.wrapperThreeBlog {
    padding: 0 160px;
}

.ellipseCenter {
    width: 614px;
    height: 614px;
    flex-shrink: 0;
    
    position: absolute;

    transform: translate3d(25%, 25%, 0);

    border-radius: 614px;
    border: 1px solid #0F0F0F;
    opacity: 0.3;
    background: var(--Gradient, linear-gradient(92deg, #FF4040 15.93%, #A20BD8 67.99%));
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.aboutText {
    padding-top: 60px;

    text-align: center;
}

.aboutContent {
    margin-top: 60px;

    width: 690px;
    height: 307px;
    flex-shrink: 0;

    color: #B0B0B0;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.aboutContent > b, .aboutContent2 > b {
    color: #FFF;
}

.aboutContent2 {
    float: right;

    width: 690px;
    height: 125px;
    flex-shrink: 0;

    color: #B0B0B0;
    text-align: right;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Fout Blog */
.foutBlog {
    width: 100vw;
    height: auto;
    flex-shrink: 0;

    padding: 30px 0 100px;

    background: #202020;
}

.foutBlogTitle {
    text-align: center;
    margin-bottom: 50px;
}

.colFoutBlog {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 1225px;
    height: 120px;
    padding: 33px 40px 34px 50px;

    overflow: hidden;

    position: relative;

    border-radius: 20px;
    background: rgba(193, 40, 193, 0.25);

    transition: all .3s ease-in-out 0s;
    
    margin-bottom: 40px;

    cursor: pointer;
}

.colFoutBlog:last-child {
    margin-bottom: 0;
}

.colFoutBlog.active  {
    height: auto;
}

.colFoutBlog::after {
    content: '';
    position: absolute;
    display: block;

    top: 120px;
    left: 0;

    width: 100%;
    height: 2px;

    background: #C536EF;
}

.colFoutBlogHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1135px;
    height: 53px;
}

.colFoutBlogTitle {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
}

.colFoutBlogPlus {
    cursor: pointer;
    
    transition: all .3s ease-in-out 0s;
}

.colFoutBlogPlus.active {
    transform: rotate(225deg);
}

.priceFoutBlogContent {
    margin-top: 100px;

    text-align: center;
}

.wrapperPriceFoutBlogContent {
    margin-bottom: 30px;
}

.wrapperPriceFoutBlogContent:last-child {
    margin-bottom: 0;
}

.priceFoutBlogContentActive.one {
    margin-bottom: 5px;
}

.priceFoutBlogContentActive {
    margin-bottom: 15px;
    cursor: pointer;
}

.priceFoutBlogContentActiveImg {
    transition: all .3s ease-in-out 0s;
}

.priceFoutBlogContentActiveImg:hover {
    transform: scale(1.1);
}

.priceFoutBlogContentActiveText {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.priceFoutBlogContentActiveText > b {
    color: #B0B0B0;
}

.colFoutBlogContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    margin-top: 60px;
}

.foutBlogContentColTitle {
    color: #FFF;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;

    margin-bottom: 30px;
}

.foutBlogContentColType {
    display: flex;

    margin-top: 0;
}

.foutBlogContentColTypeImg {
   top: 0;
   left: 0;

    max-width: 60px;
    max-height: 60px;

    margin-right: 15px;
    margin-left: -15px;
}

.foutBlogContentColTypeText {
    max-width: 200px;

    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

    margin-top: 15px;
    margin-left: -15px;
}

/* Five Blog */
.fiveBlog {
    width: 100vw;
    min-height: 1000px;
    height: auto;
    flex-shrink: 0;
    background: #0F0F0F;

    padding: 60px 0;
}

.fiveBlogTitle {
    text-align: center;
}

.wrapperFiveBlog {
    margin-top: 90px;
}

.carousel {
    width: 100%;
    cursor: grab;
}

.carousel.dragging {
    cursor: grabbing;
}

.carousel--wrap {
    white-space: nowrap;
}

.carousel--item {
    display: inline-block;
    width: 730px;
    height: 517px;
    user-select: none;

   margin-right: 50px;
}

.carousel--item:last-child {
    margin-right: 0;
}

.wrapperCarousel--item {
    display: flex;
}

.leftActBlog {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 350px;
    height: 440px;
    flex-shrink: 0;

    border-radius: 16px;

    margin-right: 30px;
}

.rightActBlog {
    width: 350px;
    height: 517px;

    padding: 20px;

    border-radius: 16px;
    border: 1px solid #B0B0B0;
    background: #1A1B1C;
}

.leftActBlogTitleType {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin: 20px 0 10px;
}

.leftActBlogText {
    color: #B0B0B0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.rightActBlogTitle {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-bottom: -10px;
}

.rightActBlogStare {
    display: flex;

    margin-bottom: 10px;
    margin-left: -20px;
}

.rightActBlogStareImg {
    margin-right: -30px;
}

.rightActBlogText h1 p {
    max-width: 310px;
    height: auto;
    
    color: #FFF;

    font-size: 14px;
    line-height: 20px;
    
    margin-bottom: 5px;
    
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.carousel--progress {
    position: fixed;
    z-index: 2;
    pointer-events: none;
    bottom: 2vw;
    width: 20vw;
    left: 3vw;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
}

.carousel--progress-bar {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    transform: scaleX(0);
    transform-origin: 0% 0%;
}

/* Five Blog Info */

.fiveBlogInfo {
    text-align: center;
}

.fiveBlogInfoTag {
    max-width: 600px;
    height: 50px;
    margin: 0 auto 10px;

    overflow: hidden;

    transition: all .3s ease-in-out 0s;
}

.fiveBlogInfoTag:last-child {
    margin-bottom: 0;
}

.fiveBlogInfoTag.active {
    height: auto;
}

.fiveBlogInfoTagContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fiveBlogInfoTitle {
    color: #FFF;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin: 80px 0 30px;
}

.fiveBlogInfoTagTitle {
    text-align: start;

    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.fiveBlogInfoTagClose {
    cursor: pointer;

    transition: all .3s ease-in-out 0s;
}

.fiveBlogInfoTagClose.active {
    transform: rotate(225deg);
}

.fiveBlogInfoTagText {
    text-align: start;

    color: #B0B0B0;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;

    margin: 20px 0 20px 20px;
}

/* Media */
@media (max-width: 1200px) {
    /* One Blog */
    .titleOneBlogImg {
        display: none;
    }

    .titleOneBlog {
        display: block;
        width: 350px;
        font-size: 38px;
    }

    .titleOneBlogImg2 {
        display: block;
        max-width: 250px;
    }

    .textOneBlogBtnImg {
        max-width: 225px;
        margin-left: -15px;
    }

    .oneBlogImages {
        width: 225px;
    }

    .wrapperOneBlogImages {
        width: 350px;
        height: 300px;
    }

    /* Two Blog */
    .twoBlog  {
        height: 880px;
    }

    .ellipseStatImg {
        max-width: 200px;
    }

    .ellipseStatText, .ellipseStatText > b {
        width: 260px;
        font-size: 20px;
    }

    .colEllipseStat2 {
        margin-top: -90px;
    }

    .ellipseStat3Text {
        font-size: 30px;
        margin-top: -50px;
    }

    .ellipseStat3Text > img {
        max-width: 160px;
    }

    /* Three Blog */
    .wrapperThreeBlog {
        padding: 0 40px;
    }
}

@media (max-width: 1000px) {
    /* Three Blog */
    .wrapperThreeBlog {
        padding: 0;
    }
}

@media (max-width: 900px) {
    /* One Blog */
    .oneBlog {
        height: 660px;
    }

    .titleOneBlogImg {
        display: none;
    }

    .titleOneBlog {
        display: block;
        width: 280px;
        font-size: 24px;

        line-height: 28px;
    }

    .titleOneBlogImg2 {
        display: block;
        max-width: 180px;
    }

    .textOneBlogBtnImg {
        max-width: 150px;
        margin-left: -15px;
    }

    .oneBlogImages {
        width: 225px;
    }

    .wrapperOneBlogImages, .colOneBlogImg  {
        width: 250px;
        height: 200px;
        border-radius: 8px;
    }

    .colOneBlogEllise {
        width: 70px;
    }

    .colTwoBlogEllise {
        width: 50px;
    }

    .colThreeBlogEllise {
        width: 20px;
    }

    .colFourBlogEllise {
        width: 50px;
    }

    .colFiveBlogEllise {
        width: 75px;
    }

    /* Animation 2 */
    @keyframes ellipse1 {
        0% {
            bottom: -90px;
            right: -50px;
        }
        25% {
            bottom: 150px;
            right: 250px;
        }
        50% {
            bottom: 100px;
            right: 50px;
        }
        75% {
            bottom: 50px;
            right: -50px;
        }
        100% {
            bottom: -90px;
            right: -50px;
        }
    }

    @keyframes ellipse2 {
        0% {
            bottom: -90px;
            left: -50px;
        }
        25% {
            bottom: 500px;
            left: 250px;
        }
        50% {
            bottom: 50px;
            left: -50px;
        }
        75% {
            bottom: 250px;
            left: 75px;
        }
        100% {
            bottom: -90px;
            left: -50px;
        }
    }

    @keyframes ellipse3 {
        0% {
            bottom: 45px;
            left: -50px;
        }
        25% {
            bottom: 30px;
            left: 250px;  
        }
        50% {
            bottom: 125px;
            left: 250px;  
        }
        75% {
            bottom: 125px;
            left: -25px;  
        }
        100% {
            bottom: 45px;
            left: -50px;
        }
    }

    @keyframes ellipse4 {
        0% {
            top: -10px;
            left: -55px;
        }
        25% {
            top: 250px;
            left: 110px;
        }
        50% {
            bottom: 150px;
            left: 300px;  
        }
        75% {
            bottom: 100px;
            left: -25px;  
        }
        100% {
            top: -10px;
            left: -55px;
        }
    }


    @keyframes ellipse5 {
        0% {
            top: -50px;
            left: 30px;
        }
        25% {
            top: 125px;
            left: 225px;
        }
        60% {
            bottom: 50px;
            left: -50px;
        }
        100% {
            top: -50px;
            left: 30px;
        }
    }

    @keyframes ellipse6 {
        0% {
            top: -70px;
            right: -70px;
        }
        25% {
            top: 20px;
            right: 50px;
        }
        50% {
            top: 50px;
            right: 50px;
        }
        75% {
            top: 10px;
            right: 20px;
        }
        100% {
            top: -70px;
            right: -70px;
        }
    }

    /* Three Blog */
    .colFoutBlogContent {
        grid-template-columns: 50% 50%;
        justify-content: center;
    }

    .foutBlogContentCol:last-child {
        margin-top: 50px;
    }
}

@media (max-width: 850px) {
    /* Two Blog */
    .ellipseStatImg {
        max-width: 125px;
    }

    .ellipseStatText, .ellipseStatText > b {
        width: 150px;
        font-size: 12px;
    }

    .colEllipseStat2  {
        margin-top: -10px;
    }

    .ellipseStat3Text > img {
        max-width: 125px;
    }

    .ellipseStat3Text {
        font-size: 22px;
        margin-top: -90px;
    }

    /* Three Blog */
    .aboutContent, .aboutContent2 {
        max-width: 100%;
    }

    .aboutContent2 {
        margin-top: 60px;
    }
}

@media (max-width: 600px) {
    /* One Blog */
    .oneBlog {
        height: 560px;
    }

    .titleOneBlog  {
        width: 200px;
    }

    .wrapperOneBlogImages  {
        width: 180px;
        height: 150px;
    }

    .oneBlogImages {
        width: 150px;
    }

    /* Three Blog */
    .fiveBlogInfoTagTitle {
        max-width: 250px;
        font-size: 12px;
    } 

    .titleOneBlog {
        font-size: 38px;
        line-height: 42px;
    } 

    .titleOneBlogImg2 {
        max-width: 250px;
    }

    .textOneBlogBtnImg {
        max-width: 210px;
    }

    /* Fout Blog */
    .foutBlog {
        padding: 40px 0;
    }

    .foutBlogContentCol {
        margin-bottom: 50px;
    }

    .foutBlogContentCol:last-child {
        margin-top: 0;
        margin-bottom: 0;
    }

    .colFoutBlog {
        height: 90px;
    }

    .colFoutBlogHeader {
        height: 25px;
    }

    .colFoutBlogContent {
        grid-template-columns: 1fr;
    }

    .colFoutBlogTitle {
        font-size: 16px;
    }

    .colFoutBlogPlus img {
        width: 30px;
    }

    .colFoutBlog::after {
        top: 90px;
    }
}

@media (max-width: 500px) {
    /* Two Blog */
    .twoBlog {
        height: auto;
    }

    .colEllipseStat2, .colEllipseStat4 {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin-top: 0;
    }

    .ellipseStat2, .ellipseStat4 {
        margin-top: 30px;
    }

    .ellipseStat3Text {
        display: none;
    }

    
    .ellipseStat3Text.mobule {
        display: block;

        margin-top: 0;
        margin-bottom: 30px;
    }

    .ellipseStat3Text>img {
        max-width: 200px;
    }

    .ellipseStat3Text {
        font-size: 34px;
    }

    .ellipseStatImg {
        max-width: 180px;
    }

    .ellipseStatText, .ellipseStatText>b {
        width: 200px;
        font-size: 16px;

        margin-top: 10px;

        margin-bottom: 20px;
    }

    /* Three Blog */
    .aboutContent, .aboutContent2 {
        font-size: 16px;
    }

    .aboutContent2 {
        margin-top: 150px;
    }
}

@media (max-width: 450px) {
    /* One Blog */
    .oneBlog {
        height: 560px;
    }

    .wrapperOneBlogImages.mobule {
        display: none;
    }

    .titleOneBlog  {
        width: 250px;
    }
}

